<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>884393293852-d794nso1qe77aa9ecm4k4euit5an07rj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.884393293852-d794nso1qe77aa9ecm4k4euit5an07rj</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>884393293852-nkblqpgf99td3rmgj1jjvbfumnfqs3ru.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyARDGX2owZ6uHuaw_vtHXtzQ0w7P0ANf-0</string>
	<key>GCM_SENDER_ID</key>
	<string>884393293852</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>org.name.metacoin</string>
	<key>PROJECT_ID</key>
	<string>meta-coin-87020</string>
	<key>STORAGE_BUCKET</key>
	<string>meta-coin-87020.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:884393293852:ios:2a2b69842e3000e8e707d9</string>
</dict>
</plist>